registry=https://registry.npmmirror.com/
# hoist=true
# hoist-pattern[]=*compiler*
# hoist-pattern[]=*babel*

# 模块设置
node-linker=isolated
# symlink=false
# enable-modules-dir=true
# virtual-store-dir=node_modules/.pnpm
# package-import-method=auto
# modules-cache-max-age=10080(分钟)/7天

# 锁文件设置
# lockfile=true
# prefer-frozen-lockfile=true

# Peer Dependency 设置
# auto-install-peers=false
# strict-peer-dependencies=true

# 构建设置
# child-concurrency=8
# side-effects-cache=true
# side-effects-cache-readonly=false

# Workspace Settings
# link-workspace-packages=true
# prefer-workspace-packages=false
# shared-workspace-lockfile=true
# save-workspace-protocol=true


# Node.js 设置
# use-node-version=undefined
# node-version=（node -v的返回值）
# node-mirror:<releaseDir> （node-mirror:release=https://npmmirror.com/mirrors/node/）

# 全局提升的依赖
public-hoist-pattern[] = []
# public-hoist-pattern[]=*types*
# public-hoist-pattern[]=*eslint*
# public-hoist-pattern[]=@prettier/plugin-*
# public-hoist-pattern[]=*prettier-plugin-*
# public-hoist-pattern[]=antd
# public-hoist-pattern[]=prettier