registry=https://registry.npmmirror.com/
hoist=false
# hoist-pattern[]=*compiler*
# hoist-pattern[]=*babel*
# 全局提升的依赖
public-hoist-pattern[] = []
# public-hoist-pattern[]=*types*
# public-hoist-pattern[]=*eslint*
# public-hoist-pattern[]=@prettier/plugin-*
# public-hoist-pattern[]=*prettier-plugin-*
# public-hoist-pattern[]=antd
# public-hoist-pattern[]=prettier